
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px){
  body{
    header{
      width:100%;
      background-color: white;
      box-shadow: 1px 1px 2px;
      .logo{
        a{
          text-decoration: none;
        }
      }
      #motto{
        padding-top: 15px;
        font-family: Georgia, sans-serif;
        font-weight: bolder;
        text-align: center;
        color:black;
        font-size:2.3em;
      }
      .header_nav{
        margin: 0 auto;
        width:320px;
        text-align: center;
        .page_links{
          text-align: center;
          li{
            display:inline;
            font-family: Georgia, sans-serif;
            list-style:none;
            border-radius:2px;
            font-size: 1.2em;
            color: black;
            padding: 1px 3px 0px 3px;
            //-webkit-transition: background .5s ease-in-out;
            //-moz-transition: background .5s ease-in-out;
            //-o-transition: background .5s ease-in-out;
            //transition: background .5s ease-in-out;
            a{
              display:inline;
              text-decoration:none;
              color:black;
            }
            &:hover{
              //background-color:#DCDCDC;
              text-decoration:underline;
            }
          }
        }
      }
    }
  }
}

/*---------------Mobile Landscape Width: 480px---------------*/
@media screen and (min-width: 480px){
  body{
    header{
      #motto{
        padding-top: 10px;
        font-size:3.2em;
      }
      .header_nav{
        width:480px;
        .page_links{
          li{
            float:left;
          }
        }
      }
    }
  }
}

/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px){
  body{
    header{
      .logo{
        #motto{
          font-size:5.3em;
        }
      }
      .header_nav{
        width:685px;
        .page_links{
          li{
            font-size: 1.8em;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px){
  body{
    header{
      .logo{
        #motto{
          font-size: 7.5em;
        }
      }
      .header_nav{
        width:990px;
      }
    }
  }
}

/*---------------Desktop Width: 1200px---------------*/
@media screen and (min-width: 1200px){

}